body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  max-width: 500px;
}

.react-calendar__navigation__label > span {
  color: white !important;
}

.react-calendar__navigation__arrow{
  color: white;
}

.react-calendar__navigation__arrow .react-calendar__navigation__next-button button {
  background-color: white;
}

.react-calendar{
  width: 100% !important;
  background: #303030 !important
}

.react-calendar__navigation button {
  background: #e65100 !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #006edc !important;
}

.react-calendar__tile--active {
  background: #e65100 !important;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background: #e65100 !important;
}

.react-calendar__tile:disabled{
  background: #303030 !important;
  color: white
}


.ql-editor {
  min-height: 18em;
}


